<connectionStrings>
  <clear/>
  <add name="HealthExchange"          connectionString="data source=localhost;initial catalog=HealthExchange;             persist security info=True;user id=admin;password=nineleaps;MultipleActiveResultSets=True;App=EntityFramework"  providerName="System.Data.SqlClient" />
  <add name="HealthExchangeAppJobs"   connectionString="data source=localhost;initial catalog=HealthcareExchangeAppJobs;  persist security info=True;user id=admin;password=nineleaps;MultipleActiveResultSets=True;App=EntityFramework"  providerName="System.Data.SqlClient" />
  <add name="HealthExchangeWebJobs"   connectionString="data source=localhost;initial catalog=HealthcareExchangeWebJobs;  persist security info=True;user id=admin;password=nineleaps;MultipleActiveResultSets=True;App=EntityFramework"  providerName="System.Data.SqlClient" />
  <add name="HealthExchangeFileStore" connectionString="data source=localhost;initial catalog=HealthcareExchangeFileStore;persist security info=True;user id=admin;password=nineleaps;MultipleActiveResultSets=True;App=EntityFramework"  providerName="System.Data.SqlClient" />
  <add name="HealthExchangePayment"   connectionString="data source=localhost;initial catalog=HealthExchangePayment;      persist security info=True;user id=admin;password=nineleaps;MultipleActiveResultSets=True;App=EntityFramework"  providerName="System.Data.SqlClient" />
  <add name="HealthExchangeSignalR"   connectionString="data source=localhost;initial catalog=HealthExchangeSignalR;      persist security info=True;user id=admin;password=nineleaps;MultipleActiveResultSets=True;App=EntityFramework"  providerName="System.Data.SqlClient" />
</connectionStrings>